<a href="https://colab.research.google.com/github/MatheusMDi/vendasPython/blob/main/vendas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import matplotlib.pyplot as plt

url_dados = 'https://github.com/MatheusMDi/vendasPython/blob/main/dados/Base%20Devolu%C3%A7%C3%B5es.xlsx?raw=true'
url_dados2 = 'https://github.com/MatheusMDi/vendasPython/blob/main/dados/Base%20Vendas.xlsx?raw=true'

baseD = pd.read_excel(url_dados)
baseV = pd.read_excel(url_dados2)

In [8]:
baseV['Produto'].unique()

array(['Televisão', 'Câmera', 'iPhone', 'Android', 'SmartWatch', 'Tablet',
       'Notebook'], dtype=object)

In [ ]:
baseV['Data'] =  pd.to_datetime(baseV['Data'], format='%m/%d/%Y')

In [ ]:
baseV['Data'] = baseV['Data'].dt.strftime('%d/%m/%Y')
baseV['mes'] = pd.DatetimeIndex(baseV['Data']).month

In [46]:
baseV

         SKU     Produto  Quantidade Vendida  ...          Loja Preco Unitario mes
0     HL4379   Televisão                   5  ...      Curitiba           2500   6
1     HL4379   Televisão                   3  ...        Recife           2500   9
2     HL1148      Câmera                   2  ...     Fortaleza           2100  10
3     HL1918      iPhone                   3  ...     Fortaleza           5300   8
4     HL9962     Android                   4  ...     Fortaleza           3400  12
...      ...         ...                 ...  ...           ...            ...  ..
9994  HL4379   Televisão                   2  ...     Fortaleza           2500   5
9995  HL1148      Câmera                   5  ...     Fortaleza           2100   6
9996  HL4379   Televisão                   5  ...     São Paulo           2500   1
9997  HL1918      iPhone                   4  ...  Porto Alegre           5300   6
9998  HL7348  SmartWatch                   1  ...      Curitiba           1400  10

[9999 rows x 9 columns]